*{
	 margin: 0 ;
	 padding: 0;
 }
 .l-btn{
	 background: #8C85E6;
	 color: #fff;
	 border:solid 1px #8C85E6;
	 border-radius: 3px;
	 font-size: 18px;
	 font-weight: 400px;
 }
 .l-btn:hover{
     background: #8078e3;
     animation: anniu 1s infinite;
 }
 .l-btn:active{
     box-shadow: 0 2px 3px rgba(0,0,0,.2) inset;
 }
/* .hidden{
     display: none;
 } */
 .dressCollocation{
	 width: 100%;
	 height: 40px;
	 background-color: #F7F7F7;
	 border: border:solid 1px #8C85E6; 
	 font: "微软雅黑";
	 text-align: center;

 }
a{
	 color:#8A6DE9;
	 font: "微软雅黑";
	 
	}
a:hover{
	color:#8C85E6;
	}
 
 .content{
	 width: 90%;
	 height: 80%;
	 border: 1px solid #DDD;
	 background: #fff;
	 border-radius: 10px;
	 padding: 10px;
	 position: absolute;
	 z-index: 1000;
	 top: 50px;
	 right: 5%;
	 box-shadow: 0 0 10px #000;
	 display: none;
 }
 
 .content-one{
     height: 10%;
     width: 100%;
     border-bottom: 1px solid #DDD ;
 }
/* .content .choose-btn{
     float: left;
 } */
 .add-button{
	 background: #8C85E6;
	 color: #fff;
	 border-radius: 10px;
	 box-shadow: 0 0 10px #000;
 }

 .content .close-tailoring{
	 display: inline-block;
	 height: 30px;
	 position: absolute;
	 top: 15px;
	 right: 10px;
	 width: 30px;
	 border-radius: 100%;
	 background: #eee;
	 color: #fff;
	 font-size: 22px;
	 text-align: center;
	 line-height: 30px;
	 float: right;
	 cursor: pointer;
 }
 .content .close-tailoring:hover{
     background: #ccc;
 }
 .content .img-content{
     width: 100%;
	 height: 65%;
	 position: relative;	
	 border-bottom: 1px solid #DDD;
	 text-align: center;
 }
 #img_view{
	 margin-top: 10px;
	 width: 100%;
	 height: 90%;
 }

 .content .content-three{
	 width: 100%;
	 height: 25%;
 }
 select{
	 font-family: "仿宋";
	 text-align: center;
	 display: inline;
	 width: 60%;
	 position: relative;
	 left: 10px;
	 border: 1px  #DDD solid;
     border-radius: 5px;

 }
 select:focus{
	 border: 2px #ddd solid;
     box-shadow: 0 0 15px 1px #DDDDDD;
}
 option:hover{
     background: #EBCCD1;
}

 
 .content-three .select-fl{
	 width: 100%;
	 height: 30%;
	 font-size: 15px;
	 font-family: "仿宋";
	 color: #8A6DE9;
 }
 .content-three .input-m{
	 width: 100%;
	 height: 30%;
	 font-size: 15px;
	 font-family: "仿宋";
	 color: #8A6DE9;
	position: absolute;
	 top: 85%;
	 
 }
.content-three .m-i{
	 display: inline;
	 width: 70%;
/* 	 position: absolute;
	 top: 85%; */
	 height:10%;
	 font-family: "仿宋";
	 font-size: 15px;
	 
 }
 .content-three .finish{
	 color: #8A6DE9;
	 position: absolute;
	 top: 90%;
 }